<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306849758566-hk7ulh55a93h6ddn0kmdvp4erejni15v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306849758566-hk7ulh55a93h6ddn0kmdvp4erejni15v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306849758566-eq38eenfne5nsarus68ee0gmdm7erqi0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7UENcJXbHbUydvyeM0VSV6bRn3fda7Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>306849758566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFuzzy</string>
	<key>PROJECT_ID</key>
	<string>logicfuzzy</string>
	<key>STORAGE_BUCKET</key>
	<string>logicfuzzy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306849758566:ios:87d8ce2701347e6575dca7</string>
	<key>DATABASE_URL</key>
	<string>https://logicfuzzy-default-rtdb.firebaseio.com</string>
</dict>
</plist>